<h1 class="about-heading">The CU Mission</h1>
<p class="about-content">
  Our mission is to foster community, support competition, and assist with
  career development in the gaming and esport field. We accomplish this mission
  by cultivating an inclusive environment for all types of gamers, hosting
  events supported by industry leaders, finding and developing truly exceptional
  players, forging the best esports teams that CU has to offer, and providing
  members with leadership opportunities and vital experience necessary for a
  career in the gaming and esports industries.
</p>

<h1 class="about-heading">Background</h1>
<p class="about-content">
  CU Gaming was first founded in December of 2015 by a team of passionate
  Counter-Strike players who wanted to represent in Buffs in online
  competitions. They were a small group but they had the passion and drive to
  create an grassroots organization focused on esports. With the organization
  continuing to grow and the the united focus on creating a home for all gamers
  at the University of Colorado Boulder, CU Gaming strived to continue to be one
  of the communities on the campus. With the addition of new games, more events,
  and passionate staff members, CU Gaming as grown to be one of the largest
  student organizations within the University of Colorado system of schools with
  more than 600 students participating online. Our events continue to be
  extremely successful and a great way to meet new people and walk away with an
  experience that you can't get anywhere else on campus. Our esports teams are
  proud represent the Buffaloes just like any varsity or club sport team and
  strives to create the best teams while also focusing on healthy game/life
  balance and practice regimen.
</p>

<h1 class="about-heading">Values</h1>

<mat-card class="value-card mat-elevation-z8">
  <mat-card-title class="about-card-heading"
    >Learn, Teach, Grow
  </mat-card-title>
  <mat-card-content>
    <!-- <p>This card indeterminates progress bar.</p> -->
    <p class="about-content">
      As an organization always striving to be better, we encourage our members
      to do so as well. Learning, reflecting, and advancing is a core part of
      why CU Gaming continues to lead the pack both on campus and with other
      universities. College is an opportunity for self-discovery, and that
      should not stop when it comes to student organizations. We are students by
      profession, but we are mentors by necessity. Sharing learned knowledge is
      tremendously important to our organization. The main goal of our community
      is to promote member growth into not only better gamers, but better people
      as well.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="value-card mat-elevation-z8">
  <mat-card-title class="about-card-heading"
    >Act with Integrity, Be Genuine
  </mat-card-title>
  <mat-card-content>
    <!-- <p>This card indeterminates progress bar.</p> -->
    <p class="about-content">
      When hidden behind a computer screen, it's very easy to be disconnected
      from your actions and their consequences, but we believe that as students
      of CU who are proud to call ourselves Buffaloes, honesty is key within our
      community and oneself. No one likes a cheater or hacker; and, making sure
      that everyone is included, and no one is taking advantage makes the entire
      organization better. We believe that everyone should be okay being
      themselves when in our community. Both your name and your tag should
      represent your best self – the person you want to be. With tens of
      thousands of unique games, every single gamer is different; But, it’s
      crucial that we understand gaming as a catalyst for relationships that
      transcend typical societal boundaries.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="value-card mat-elevation-z8">
  <mat-card-title class="about-card-heading">Fuel your Passion </mat-card-title>
  <mat-card-content>
    <!-- <p>This card indeterminates progress bar.</p> -->
    <p class="about-content">
      From Pong, Tetris, and Pac-man to Overwatch, League of Legends, and
      Fortnite - Games are freaking awesome. No seriously, we absolutely love
      gaming, and we hope you do too. We make this community what it is by
      giving our time to games. CU Gaming wants to encourage everyone to pour
      into the things that make them excited and help them make the most of it.
      We want the possibility for people to pursue a career in the video games
      industry to become a reachable reality.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="value-card mat-elevation-z8">
  <mat-card-title class="about-card-heading">Find your Balance</mat-card-title>
  <mat-card-content>
    <!-- <p>This card indeterminates progress bar.</p> -->
    <p class="about-content">
      College students are busy people. We completely understand that other
      things take priority, and they should. Fitting in a few hours of team
      practice or attendance at a weekly event can be difficult. Being able to
      balance social life, academics, health, and remembering to call your mom
      once in awhile is essential to members of CU Gaming and applies to life in
      general. Games are addicting, and quickly become a problem if you
      continuously use them to hide from life. Games can be an excellent
      intermittent escape from stress-inducing responsibilities; but, if you let
      these problems build up, they can quickly overwhelm even the most capable
      individual.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="value-card mat-elevation-z8">
  <mat-card-title class="about-card-heading"
    >Accept Difference, Enrich Community</mat-card-title
  >
  <mat-card-content>
    <!-- <p>This card indeterminates progress bar.</p> -->
    <p class="about-content">
      Within our community, someone enjoying a game or rooting for a team should
      never cause tension. We are here to celebrate all games, not to tear
      people down for personal preference. The virtual space that we play in
      naturally attempts tears down boundaries and removes superficial
      differences. Gaming should transcend race, gender, sexuality, religion,
      and political views.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="value-card mat-elevation-z8">
  <mat-card-title class="about-card-heading"
    >Academic Excellence</mat-card-title
  >
  <mat-card-content>
    <!-- <p>This card indeterminates progress bar.</p> -->
    <p class="about-content">
      Yes, we are gamers, but at this university we are students first, and
      that's in every aspect. As a student organization of the campus, following
      the Colorado Creed ensures that our community and actions fall in line
      with what the administration and society expects of us. On the competitive
      side we hold our teams to a strict GPA-standard, following in line with
      our more traditional club sport brethren.
    </p>
  </mat-card-content>
</mat-card>
